doctype html
html
  head
    meta(name="viewport", content="width=device-width")
    title Queue - Haiku
    //- Normalize css
    link(href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css', rel='stylesheet')
    //- Bootstrap css
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    //- Custom Styles
    link(href='/css/main.css', rel='stylesheet')
    //- Google fonts
    link(href='https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700', rel='stylesheet')
    script(src='https://use.fontawesome.com/ca1dfe0972.js')
  body
    header
      nav.navbar.navbar-inverse
        .container
          .navbar-header
            .navbar-wrapper
              a.navbar-brand(href='/')
                img.logo(src='/images/qh-logo.png')
              button#btn-nav-mobile.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-mobile')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
          #navbar.collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a.nav-link(href='/about') About
              li
                a.nav-link(href='/haikus/queue') The Queue
              li
                a.nav-link(href='/haikus/add') Add Haiku 
            ul.nav.navbar-nav.navbar-right
              if user
                li
                  button(type='button', data-toggle='collapse', data-target='#navbar-user')
                    img(src=user.imgUrl, alt='avatar')
                    i.fa.fa-chevron-circle-down(aria-hidden='true')
            if user
              #navbar-user.collapse
                h3 #{user.username}
                span Signed in
                hr
                ul
                  li
                    a(href='/users/profile/'+user._id) Profile
                  li
                    a(href='#') Your Haikus
                  hr
                  li
                    a(href='/users/logout') Logout
          #navbar-mobile.collapse
            .navbar-mobile-wrapper
              if user
                .navbar-mobile-header
                  img(src=user.imgUrl)
                  span.mobile-credentials
                    h3 #{user.username}
                    span Signed in
                hr
                ul
                  li
                    a(href='/users/profile/'+user._id) Profile
                  li
                    a(href='#') Your Haikus
                hr
              else
                h2 Queue Haiku
                hr
              ul
                li
                  a(href='/') Home
                li
                  a(href='/about') About
                li
                  a(href='/haikus/queue') The Queue
                li
                  a(href='/haikus/add') Add Haiku
                hr
                li
                  a(href='/users/logout') Logout
              
    .message-block
      if messages.length > 0
        .message-wrapper
          .icon-wrapper
            i.icon-close.fa.fa-window-close.fa-2x(aria-hidden='true')
          != messages('message', locals)
      if errors
        .error-wrapper
          .icon-wrapper
            i.icon-close.fa.fa-window-close.fa-2x(aria-hidden='true')
          each error, i in errors
            div(class='alert alert-danger') #{error.msg}
    block content
    footer
      .container
        p Copyright &copy; 2017
        a(href='http://devhominid.com', target='_blank')
          img.signature(src='/images/signature.png')
    script(src='/js/jquery-3.1.1.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/delete-haiku.js')
    script(src='/js/syllable.js')
    script(src='/js/messages.js')
    
