extends default

block content
  section.section-edit-haiku-heading
    h1 #{title}
  section.section-edit-haiku-a
    .container
      form(method='POST', action='/haikus/edit/'+haiku._id)
        .form-group
          label Title:
          input.form-control(name='title', type='text' value=haiku.title)
        .form-group
          label Image URL:
          input.form-control(name='imageURL', type='text' value=haiku.imageURL)
        hr
        .form-group
          label Line 1:
          #line1Syl
          input.form-control#line1(name='line1', type='text' value=haiku.line1)
        .form-group
          label Line 2:
          #line2Syl
          input.form-control#line2(name='line2', type='text' value=haiku.line2)
        .form-group
          label Line 3:
          #line3Syl
          input.form-control#line3(name='line3', type='text' value=haiku.line3)
        hr
        input.btn.btn-custom(type='submit',value='Submit')
