extends default

block content
  section.section-haiku-heading
    h1 #{title}
  section.section-haiku-a
    .container
      .row
        .col-sm-4
          if haiku.imageURL
            img.haiku-img(src=haiku.imageURL alt='haiku')
          else
            img.haiku-img(src='/images/haiku-default.png' alt='haiku')
        .col-sm-8
          h2 By #{fullname} 
          a(href='/users/profile/'+author._id) ( #{author.username} )
          p Written on #{haiku.createdOn}
          if haiku.updatedOn
            p Updated on #{haiku.updatedOn}
          p 124 Praise
      hr
      .haiku-wrapper
        p.line1= haiku.line1
        p= haiku.line2
        p.line3= haiku.line3
      hr
      .options
        if user
          if user.id == haiku.author
            div
              a.btn.btn-default(href='/haikus/edit/'+haiku._id) Edit
              a.btn.btn-danger.delete-haiku(href='#', data-id=haiku._id) Delete
          else
            div
        else
          div
        .praise-box
          img(src='/images/praise-icon.png', alt='give praise')
          span Give Praise!
