extends default

block content
  section.section-profile-heading
    h1 #{poet.first} #{poet.last}
  section.section-profile-a
    .container
      .row
        .col-sm-4
          .poet-info-wrapper
            img.avatar(alt='avatar', src=poet.imgUrl)
            .poet-info-aside
              h2.username= poet.username
              if poet.isAdmin
                span.admin (Admin)
              i.fa.fa-globe.fa-lg(aria-hidden='true')
              span= poet.location
        .col-sm-8
          h2 Bio
          p= poet.bio
  section.section-profile-b
    .container
      .row
        .col-sm-6
          h2.heading-a2-top Stats
          .box
            .stats-item
              span.stats-label Poet Level: 
              span.stats-val Novice
            .stats-item
              span.stats-label Poet Since: 
              span.stats-val #{poet.createdOn}
            .stats-item
              span.stats-label Total Haikus: 
              span.stats-val #{allHaikus.length}
        .col-sm-6
          h2.heading-a2-top Most Praised
          .box
            img(src=mostPraised[0].imageURL)
            span 
              a(href='/haikus/'+mostPraised[0]._id) #{mostPraised[0].title}
            span #{mostPraised[0].praise}
      h2.heading-a2.text-center Recent Haikus
      if recentHaikus.length > 0
        ul.list-group
          each haiku, i in recentHaikus
            li.list-group-item
              a(href='/haikus/'+haiku._id)= haiku.title
        a.see-all(href='/users/'+poet._id+'/haikus') See All
      else
        p.text-center Not one haiku has been found!
      hr
      if user
        if user.id === poet.id
          a.btn.btn-custom(href='/users/profile/edit/'+user._id) Edit Profile
      
