extends default

block content
  section.section-profile-heading
    h1 #{poet.first} #{poet.last}
  section.section-profile
    .container
      .row
        .col-sm-4
          if poet.imgUrl
            img(alt='avatar', src=poet.imgUrl)
          else
            img(alt='avatar', src='https://res.cloudinary.com/dud5wowp2/image/upload/v1507145742/avatar-default_hdc4lg.png')
          h2= poet.username
          i.fa.fa-globe(aria-hidden='true')
          if poet.location
            span= poet.location
          else
            span Earth 
        .col-sm-8
          h2 Bio
          if poet.bio
            p= poet.bio
          else
            p The elusive poet is known by few, but writes legendary haikus nonetheless!
      hr
      h2 Recent Haikus
      if haikus
        ul.list-group
          each haiku, i in haikus
            li.list-group-item
              a(href='/haikus/'+haiku._id)= haiku.title
      else
        p No haikus have been written yet!
      hr
      if user
        if user.id === poet.id
          a(href='/users/profile/edit') Edit Profile
      
